body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(114, 162, 250);
}
.container{
    background-color: #fff;
    border: 1px solid pink;
    width: 400px;
    height: 350px;
    padding: 20px 100px;
    

}
.searchContainer{
  margin: 20px 0;
    
}
.weather-container{
    margin: 60px 0;
    display: none;
    
}

#searchBtn{
    display: flex;
    padding: 5px;
    border-radius: 5px;
    background-color: #007bff;

}

#searchBtn:hover{
    background-color: green;
    color: white;
}
.inputField{
    margin: 20px 25px;
    border-radius: 5px;
    
    padding: 5px;
    font-size: 15px;
}


.error-message{
    color: red;
    font-weight: bold;
    
}